body {
    height: 100%;
    width: 100%;
    background-size: cover;
    background: url("background.jpeg");
    background-position: center center;
}
.Main {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.Project > .Title{
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

#Projects > .Title{
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: underline;

}


#Projects {
    padding-top: 20px;
}

.Project > .Info {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}

#Name {
    font-size: 65px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
#Info {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.Project {
    padding-top: 20px;
}

.Game {
    display: flex;
    justify-content: center;
}

#blockball {
    display: none;
}

#blockball-soccer {
    display: none;
}
.Project > .toggle {
    display: flex;
    justify-content: center;
}